:root {
	--ff-primary: Arial, Helvetica, sans-serif; 
}

html {
	//scroll-behavior: smooth;
}

body {
	font-family: var(--ff-primary);
	/* background-color: #aff1da; */
	
	min-height: 100vh;
	width: 100vw; 

	background-color: #eee;
} 

