body {
	padding: 1.5em .6em;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.card-cake {
	display: flex;
	flex-direction: column;
	gap: 1.2em;
	
	&__heading {
		font-family: 'Playfair Display', serif;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
	}

	&__description {
		display: flex;
		align-items: flex-start;
		gap: 1em;

		&__svg-wrapper {
			
		}

		p {
			font-family: Montserrat, sans-serif;
			font-size: 12px;
			font-style: italic;
			font-weight: 500;
			line-height: 15px;
			letter-spacing: 0em;
			text-align: left;
			color: #4F4F4F;
			max-width: 320px;
		}
	}

	&__image-ratio {
		position: relative;
		width: 100%;
		height: 0em;
		padding-bottom: 60%;
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;

			border-radius: 10px;
		}
	}

	
}

aside {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.yields {
	display: flex;
	align-items: center;
	gap: 1em;

	font-family: Montserrat;
	font-size: 8px;
	font-weight: 700;
	line-height: 10px;
	letter-spacing: 0em;
	text-align: left;

	
	&__svg {
		width: 14px;
		height: 14px;
		fill: orange;
	}

	&__heading {
		text-transform: uppercase;
		font-size: inherit;
		color: #bdbdbd;
	}

	&__p {
		color: orange;
		font-size: inherit;
		font-weight: normal;
	}
}

.preparation {
	display: flex;
	
	gap: 4em;

	&, & * {
		font-size: .6rem;
		font-family: Montserrat;
		font-weight: 500;
		line-height: 12px;
		letter-spacing: 0em;
		text-align: left;
	}


	&__li {
		display: flex;
		align-items: center;
		gap: 1em;
		&__svg {
			width: 14px;
			height: 14px;
			fill: #4F4F4F;
		}

		&__details {
			&__heading {
				color: #BDBDBD;
			}
	
			&__p {
				color: #333333;
				font-weight: normal;
			}
		}
	}
}

.ingredients {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
		
	h2, h3 {
		font-family: 'Playfair Display', serif;
		font-size: 1.2rem;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;

	}

	h2 { font-weight: 700; }
	h3 {
		font-weight: 400;
		font-style: italic;
	}

	p {
			
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		max-width: 60ch;
	}

	i {
		font-weight: 500;
	}

	input[type=checkbox] {
		background: #FAFAFA;
		color: #FAFAFA;
	
		min-width: 21px;
		min-height: 21px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid #828282;
		border-radius: 5px;

	}

	&-graham, &-cheesecake {
		display: flex;
		flex-direction: column;		
		gap: 1em;
		
		
		li {
			padding: .3em 0em;
			display: flex;
			align-items: center;
			gap: .5em;
		}
	}

	&-cheesecake {

	}
}

.instructions {
	ol {
		display: flex;
		flex-direction: column;
		gap: 1em;
		list-style: none;
		counter-reset: my-counter;
		li {
			counter-increment: my-counter;
			display: flex;
			align-items: flex-start;
			gap: 1em;
			
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0em;
			text-align: left;

		}
		li::before {
			display: flex;
			justify-content: center;
			align-items: baseline;
			border-radius: 6px;
			content: counter(my-counter);
			font-family: 'Playfair Display', serif;
			font-size: 24px;
			font-weight: 700;
			line-height: 32px;
			letter-spacing: 0em;
			text-align: left;

			background-color: #f2994a;
			color: #fff;
			min-width: 36px;
			min-height: 36px;

		}
	}
}

.source {
	display: flex;
	flex-direction: column;
	padding: 1em 0em;
	
	font-family: Montserrat;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: #BDBDBD;

	a {
		color: inherit;
	}

}


footer {
	text-align: center; 
	padding: 1em;
	color: rgb(116, 116, 116);
	
	& p { font-weight: 400; }
	& span {	font-weight: 700; }
}