body {
	padding: 1.5em .6em;
}

.card-cake {
	display: flex;
	flex-direction: column;
	gap: 1.2em;
	
	&__heading {
		font-family: 'Playfair Display', serif;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
	}

	&__description {
		display: flex;
		align-items: flex-start;
		gap: 1em;

		&__svg-wrapper {
			
		}

		p {
			font-family: Montserrat, sans-serif;
			font-size: 12px;
			font-style: italic;
			font-weight: 500;
			line-height: 15px;
			letter-spacing: 0em;
			text-align: left;
			color: #4F4F4F;
			max-width: 320px;
		}
	}

	&__image-ratio {
		position: relative;
		width: 100%;
		height: 0em;
		padding-bottom: 60%;
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;

			border-radius: 10px;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}


.yields {
	display: flex;
	align-items: center;
	gap: 1em;

	font-family: Montserrat;
	font-size: 8px;
	font-weight: 700;
	line-height: 10px;
	letter-spacing: 0em;
	text-align: left;

	
	&__svg {
		width: 14px;
		height: 14px;
		fill: orange;
	}

	&__heading {
		text-transform: uppercase;
		font-size: inherit;
		color: #bdbdbd;
	}

	&__p {
		color: orange;
		font-size: inherit;
		font-weight: normal;
	}
}

.preparation {
	display: flex;
	
	gap: 3em;

	&, & * {
		font-size: .6rem;
		font-family: Montserrat;
		font-weight: 500;
		line-height: 12px;
		letter-spacing: 0em;
		text-align: left;
	}


	&__li {
		display: flex;
		align-items: center;
		gap: .6em;
		&__svg {
			width: 14px;
			height: 14px;
			fill: #4F4F4F;
		}

		&__details {
			&__heading {
				color: #BDBDBD;
			}
	
			&__p {
				color: #333333;
				font-weight: normal;
			}
		}
	}
}