@use './reset';
@use './base';
@use './builder';
@use './utils';


footer {
	text-align: center; 
	padding: 1em;
	color: rgb(116, 116, 116);
	
	& p { font-weight: 400; }
	& span {	font-weight: 700; }
}