*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

:root {
  --ff-primary: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--ff-primary);
  /* background-color: #aff1da; */
  min-height: 100vh;
  width: 100vw;
  background-color: #fafafa;
}

body {
  padding: 1.5em 0.6em;
  max-width: 1024px;
  margin: 0em auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-cake {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.card-cake__heading {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.card-cake__description {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}
.card-cake__description p {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  max-width: 320px;
}
.card-cake__image-ratio {
  position: relative;
  width: 100%;
  height: 0em;
  padding-bottom: 60%;
}
.card-cake__image-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  aside {
    padding: 3em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
    border-radius: 0.8em;
  }
}

.yields {
  display: flex;
  align-items: center;
  gap: 1em;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
}
.yields__svg {
  width: 14px;
  height: 14px;
  fill: orange;
}
@media screen and (min-width: 768px) {
  .yields__svg {
    width: 24px;
    height: 24px;
  }
}
.yields__description {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.yields__heading {
  text-transform: uppercase;
  font-size: inherit;
  color: #bdbdbd;
}
.yields__p {
  color: orange;
  font-size: inherit;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .yields__p {
    font-size: 0.9rem;
  }
}

.ingredients-wrapper {
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .ingredients-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.preparation {
  display: flex;
  gap: 4em;
}
@media screen and (min-width: 768px) {
  .preparation {
    flex-direction: column;
  }
  .preparation * {
    font-size: 1rem;
  }
}
.preparation, .preparation * {
  font-size: 0.6rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}
.preparation__li {
  display: flex;
  align-items: center;
  gap: 1em;
}
.preparation__li__svg {
  width: 14px;
  height: 14px;
  fill: #4F4F4F;
}
@media screen and (min-width: 768px) {
  .preparation__li__svg {
    width: 24px;
    height: 24px;
  }
}
.preparation__li__details__heading {
  color: #BDBDBD;
}
.preparation__li__details__p {
  color: #333333;
  font-weight: normal;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.ingredients h2, .ingredients h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.ingredients h2 {
  font-weight: 700;
}
.ingredients h3 {
  font-weight: 400;
  font-style: italic;
}
.ingredients p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 60ch;
}
.ingredients i {
  font-weight: 500;
}
.ingredients input[type=checkbox] {
  background: #FAFAFA;
  color: #FAFAFA;
  min-width: 21px;
  min-height: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #828282;
  border-radius: 5px;
}
.ingredients-graham, .ingredients-cheesecake {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.ingredients-graham li, .ingredients-cheesecake li {
  padding: 0.3em 0em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  counter-reset: my-counter;
}
.instructions ol li {
  counter-increment: my-counter;
  display: flex;
  align-items: flex-start;
  gap: 1em;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.instructions ol li p {
  max-width: 530px;
}
.instructions ol li::before {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 6px;
  content: counter(my-counter);
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #f2994a;
  color: #fff;
  min-width: 36px;
  min-height: 36px;
}

.source {
  display: flex;
  flex-direction: column;
  padding: 1em 0em;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDBDBD;
}
.source a {
  color: inherit;
}

footer {
  text-align: center;
  padding: 1em;
  color: rgb(116, 116, 116);
}
footer p {
  font-weight: 400;
}
footer span {
  font-weight: 700;
}

.hidden {
  display: none;
}

/* last call for cascade *//*# sourceMappingURL=style.css.map */